<?php
$host = 'db host';
$user = 'db user';
$pass = 'db pass';
$db = 'db name';

$RECAPTCHA_SITE_KEY = 'recaptcha v3 site key';
$RECAPTCHA_SECRET_KEY = 'recaptcha v3 secret key';

$SUPPORT_EMAIL = 'help@domain.com'; // Used in the help page

define('baseURL', 'http://localhost/snaildom');
define('playURL', 'http://localhost/snaildom/play');
?>